.pc-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.75em 3em;
  z-index: 9;
  backdrop-filter: blur(8px);
}

body[data-theme="day"] .pc-header {
  background-color: #fff8;
}

body[data-theme="night"] .pc-header {
  background-color: #0001;
}

.pc-header-logo {
  color: var(--secondary-text-color);
  font-size: 1.75em;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s;
}

.pc-header-logo span {
  color: var(--secondary-color);
  font-size: 1.1em;
}

.pc-header-logo b {
  color: var(--primary-color);
  font-size: 1.2em;
}

.pc-header-links {
  display: flex;
  gap: 42px;
}

.pc-header-links li {
  list-style: none;
}

.pc-header-link {
  color: var(--primary-text-color);
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s;
}

@media only screen and (max-width: 640px) {
  .pc-header {
    flex-direction: column;
    gap: 16px;
  }

  .pc-header-links {
    gap: 32px;
  }
}

@media only screen and (max-width: 480px) {
  .pc-header-links {
    gap: 24px;
  }
}
