@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff8c00;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-background);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-background);
}

body {
  overflow-x: hidden;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[data-theme='day'] {
  --secondary-color: #0077be;
  --primary-text-color: #333;
  --secondary-text-color: #666;

  --scrollbar-track-background: #fff;
  --scrollbar-thumb-background: #ddd;
  --scrollbar-thumb-hover-background: #ccc;

  background-color: #fff;
}

body[data-theme='night'] {
  --secondary-color: #00bfff;
  --primary-text-color: #fff;
  --secondary-text-color: #eee;

  --scrollbar-track-background: #000;
  --scrollbar-thumb-background: #222;
  --scrollbar-thumb-hover-background: #333;

  background: linear-gradient(to bottom, #111, #000);
}

.pc-page-container {
  min-height: 100vh;
}

.pc-sections,
.pc-header {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.pc-sections {
  position: relative;
  padding-bottom: 3em;
}

.pc-sections > section {
  min-height: 100vh;
  padding-inline: 3em;
  scroll-snap-align: start;
}

#pc-switch-theme {
  position: fixed;
  right: 0;
  bottom: 25px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 50%;
  opacity: 0.9;
  cursor: pointer;
  font-size: 1.75em;
  transition: all 0.5s;
}

#pc-switch-theme:hover {
  opacity: 1;
  box-shadow: #00000029 0px 1px 4px;
}

body[data-theme='day'] #pc-switch-theme {
  color: var(--secondary-text-color);
  background-color: #f0f0f0;
}

body[data-theme='night'] #pc-switch-theme {
  color: #fff;
  background-color: #444;
}

#pc-switch-theme i {
  display: none;
}

body[data-theme='day'] #pc-switch-theme .fa-moon {
  display: flex;
}

body[data-theme='night'] #pc-switch-theme .fa-sun {
  display: flex;
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  #home,
  #skills,
  #projects {
    padding: 0 1em;
  }
}
