.pc-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding-top: 4em;
}

.pc-projects-infos {
  margin-bottom: 4em;
}

.pc-projects-title {
  color: var(--primary-text-color);
  font-size: 2em;
  font-weight: 300;
  transition: all 0.5s;
}

.pc-projects-title b {
  color: var(--secondary-color);
}

.pc-projects-summary {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 680px;
  margin-top: 16px;
  color: var(--secondary-text-color);
  font-size: 1.1em;
  line-height: 1.4em;
  transition: all 0.5s;
  text-align: justify;
}

.pc-projects-items {
  --projects-items-columns: 4;

  display: grid;
  grid-template-columns: repeat(var(--projects-items-columns), 1fr);
  gap: 3em 1.5em;
}

.pc-projects-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.pc-projects-item-preview {
  width: 100%;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
  border-radius: 4px;
}

.pc-projects-item-name {
  color: var(--primary-text-color);
  font-size: 1.2em;
}

.pc-projects-item-description {
  margin-bottom: 12px;
  color: var(--secondary-text-color);
  text-align: justify;
  font-size: 1em;
}

.pc-projects-item-links {
  display: flex;
  gap: 24px;
  margin-top: auto;
}

.pc-projects-item-link {
  display: flex;
  gap: 4px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-text-color);
  font-size: 1em;
  font-weight: 600;
  transition: all 0.2s;
}

.pc-projects-item-link .fa-instagram {
  font-size: 1.15em;
}

.pc-projects-item-link:hover {
  color: var(--secondary-color);
}

@media only screen and (max-width: 960px) {
  .pc-projects-items {
    --projects-items-columns: 3;
  }
}

@media only screen and (max-width: 760px) {
  .pc-projects-items {
    --projects-items-columns: 2;
  }
}

@media only screen and (max-width: 460px) {
  .pc-projects-items {
    --projects-items-columns: 1;
  }
}
