.pc-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding-top: 4em;
}

.pc-projects-infos {
  margin-bottom: 4em;
}

.pc-projects-title {
  color: var(--primary-text-color);
  font-size: 2em;
  font-weight: 600;
}

.pc-projects-title b {
  color: var(--secondary-color);
}

.pc-projects-summary {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 680px;
  margin-top: 16px;
  color: var(--secondary-text-color);
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: justify;
}

.pc-projects-items {
  display: flex;
  flex-direction: column;
  gap: 3em 1.5em;
}

.pc-projects-item {
  display: flex;
  gap: 1em;
  list-style: none;
  width: 100%;
  max-width: 60em;
}

.pc-projects-item-preview {
  display: flex;
  width: 100%;
  max-width: 20em;
  object-fit: cover;
  object-position: top left;
  user-select: none;
  pointer-events: none;
  border-radius: 6px;
  box-shadow: #0000000d 0px 0px 0px 1px;
  flex: none;
}

.pc-projects-item-infos {
  display: flex;
  flex-direction: column;
}

.pc-projects-item-name {
  color: var(--primary-text-color);
  font-size: 1.2em;
}

.pc-projects-item-description {
  margin-block: 12px 24px;
  color: var(--secondary-text-color);
  text-align: justify;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 1.45em;
}

.pc-projects-item-links {
  display: flex;
  gap: 24px;
  margin-top: auto;
}

.pc-projects-item-link {
  display: flex;
  gap: 4px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-text-color);
  font-size: 1em;
  font-weight: 600;
  transition: color 0.2s;
}

.pc-projects-item-link .fa-instagram {
  font-size: 1.15em;
}

.pc-projects-item-link:hover {
  color: var(--secondary-color);
}

@media only screen and (max-width: 640px) {
  .pc-projects-item {
    flex-direction: column;
    max-width: 32em;
    align-items: center;
  }

  .pc-projects-item-preview {
    max-width: unset;
    max-height: 12em;
  }
}
